[2016-10-27 07:46] lucax88x opened #1 "provide inline input"

[2016-10-27 07:47] lucax88x opened #2 "add possibility to configure colors"

[2016-10-27 07:47] lucax88x opened #3 "instead of contentText of decoration, use icons, so it should have better performances"

[2016-10-27 15:03] #2 closed

[2016-10-27 15:05] #1 closed

[2016-10-30 18:09] lucax88x opened #5 "Should create "placeholders" only for visible text on screen"

[2016-11-07 10:27] con-ssc opened #6 "2 Letter hits"
I'm unable to jump to 2 letter hits. So if more then 26 hits are found and the target has two letters I'M unable to type two letters.

[2016-11-07 10:46] lucax88x commented on #6
right, I work on it right now!, thanks @con-ssc

[2016-11-09 11:27] lucax88x commented on #6
I changed the system, instead of having double letter we have sub-groups (not an original idea from me, but inspired by the emacs one)

when we have more matches than our alphabet (a-z) we 'group' them with a sub letter, so we now have alphabet^2 size, but it's intelligent because the system will try to have more "single type" group instead of "double type" group, let's see example below which is

[2016-11-09 11:41] lucax88x commented on #6
Released 1.1.0 version of the extension

[2016-11-09 11:42] #6 closed

[2016-11-09 22:54] geddski opened #7 "feature request: search all open panes"
would be nice to be able to jump to any open & visible editing pane.

[2016-11-10 08:56] lucax88x commented on #7
@geddski can you provide a better description of what you want?

Is this "workflow" something similar you wanted?
- you have 3 opened tabs
- you start an AceJump, and you type A
- we pop placeholders in all 3 tabs (each tab is starting A-Z)
- when you press the letter where you want to go, the current opened tab will be the winner

[2016-11-14 10:02] lucax88x commented on #5
API are missing for this, opened issue on vscode [here](https://github.com/Microsoft/vscode/issues/14756).

[2016-11-14 15:01] #3 closed

[2016-11-15 03:34] geddski commented on #7
close! except I imagine the letter you press could take you to any tab, regardless of which tab is the current one. This way you could jump to other visible files quickly.

[2016-11-15 09:12] lucax88x commented on #7
Ok, but if you want to see a "letter" in a tab, you need to switch to this tab, so the feature about jumping to chosen tab is quite "useless", as you already did it yourself, right?

What I can do, is to add a settings that, once enabled, can permit to have letters in all the opened tabs, but,

you can have a maximum of 26 \* 26 letters (676).

Could this satisfy you?

[2016-11-28 10:19] lucax88x opened #9 "Add a separate command for searching all the word, instead only the initial letter"

[2016-12-02 16:05] RedBug312 opened #10 "More configure to the placeholders"
though the color configure makes visibility great, I think the readability can be improved from:
1. font-weight settings
2. font-family settings, for it fallbacks to some serif font when there's no Consolas on my computer
3. capital letters settings, as the demo in the marketplace page

[2016-12-02 17:30] lucax88x commented on #10
Sure, I can do this.

You need to give me one week, because atm I'm at the hospital as my wife gave me my first daughter :)

[2016-12-03 01:43] redbug312 commented on #10
Thanks, and Congratulations!

[2016-12-06 16:01] lucax88x commented on #10
unfortunately, as this is a SVG, it's hard to calculate how the text is large with a different font-size, (at least for what I'm aware of), so I'll just give users possibility to configure everything.

as you can see in the 1.1.3 readme, I've added these configurations:

* `aceJump.placeholder.width`: placeholder width; defaults to 12
* `aceJump.placeholder.height`: placeholder height; defaults to

[2016-12-07 00:40] #10 closed

[2017-03-07 13:40] jakub-wojciech opened #11 "It doesn't work with VIM extension"
Hi,
It looks like this extension doesn't work at all with vim extension for VSC (https://marketplace.visualstudio.com/items?itemName=vscodevim.vim)

Any chance to fix that?

[2017-03-07 13:59] lucax88x commented on #11
Just tried it, yeah this does not work at all with the mentioned extension!

I'll have a look during the week, I promise you.

[2017-03-20 08:05] metasong opened #12 "feature request: add command to select from current position to the jumped position"
add another command to do selection.
to select from current position to the jumped position

[2017-03-21 00:54] metasong commented on #12
thanks for your quick respond

[2017-03-24 17:11] lucax88x commented on #11
sorry.. that's a problem I cannot solve actually.

You can see a similar issue there.

https://github.com/Microsoft/vscode/issues/13441

We we have to wait feedbacks on this.

[2017-03-24 18:13] lucax88x commented on #12
I've released a new command, AceJump: Selection which does what do you want.

However, in the future when I have more time, I might totally rework it and use something more intelligent like the `set mark` of emacs.

Let me know what do you think!

[2017-03-24 18:14] #12 closed

[2017-03-28 07:07] metasong opened #13 "feature request: to make the jumper faster--placeholder show more charactor when more are indexed"
yes, we have https://github.com/lucax88x/CodeAceJumper/issues/6
what about when there are more placeholder we show more than one letter, this will let user type quickly, no need to wait to show the second level placehoders and then type to jump.

i.e.
currently: a, a, a,a, b,c,d
what about: aa,ab,ac,ad,ae,a,b,c,d

may be a better one:
aaa,aab,aa,ab,**a,b(cursor),c,d**,ac,ad,aac,aad

more informati

[2017-03-28 07:51] metasong commented on #12
cool!

[2017-03-28 08:03] lucax88x commented on #13
uhm.

this is a good idea indeed, that I'm wondering why I didn't think about this before.

there must be an explanation I forgot, I'll take a look on this!

[2017-03-28 09:27] metasong commented on #13
thanks for quick response!!

[2017-03-28 13:38] metasong commented on #13
I think about this again and found another similar solution:
asume we have frequence based charactors set {j,k,f,d}, j is more easy to type, then k, then f
if we display 2 charactors to user, the combination are 4*4.
so:     dj,dk  fj,fk   kk, kj,    jk, jj,     k, j(cusor)f,d     ,jf,jd,     kf,kd   ff,fd   df,dd

if using 26 english charactor, the 2 charactor combination(26*26)is enough for the

[2017-03-30 23:08] csalv5 opened #14 "selected text limitation"
I think it should be given as an option.

[2017-03-31 06:56] lucax88x commented on #14
Sorry, can you be more specific? I did not understand your request

[2017-03-31 11:08] csalv5 commented on #14
Sorry, i mean when i trigger AceJump while some text is selected, the search is limited to the currently selected text. Is there a way to remove this restriction (so that it continues to search in the entire viewable region)? Or at least provide an option to change this behavior.

[2017-03-31 16:10] lucax88x commented on #14
Yeah, I can add an option in order to disable this feature, sure!

[2017-03-31 16:28] csalv5 commented on #14
Great news, thanks!
Also, any plans to add [this](https://github.com/ice9js/ace-jump-sublime/blob/master/README.md#character-mode) feature? I mean jump to any middle letter of a word...not only the first.

Anyhow, nice extension, keep it up

[2017-03-31 18:12] lucax88x commented on #14
now there's possibility to skip the search on the selections using the new setting `aceJump.finder.skipSelection=true`

[2017-03-31 18:14] lucax88x commented on #14
regarding the other feature you requested, I had already opened this [issue ](https://github.com/lucax88x/CodeAceJumper/issues/9), and as you can see, I've just released this new setting on the 1.1.5 along with this issue

[2017-03-31 18:15] lucax88x commented on #9
Now there's the possibility to search inside words using the new setting `aceJump.finder.onlyInitialLetter=false`

I personally find this really interesting.

[2017-03-31 18:16] lucax88x commented on #9
Released with 1.1.5 version of extension

[2017-03-31 18:16] #9 closed

[2017-03-31 18:16] lucax88x commented on #14
Released with 1.1.5 version of extension

[2017-03-31 18:16] #14 closed

[2017-03-31 18:28] csalv5 commented on #14
Wow, really fast...thanks a lot!

[2017-06-13 19:23] itainoam opened #15 "feature request: adopt aceJump visual"
Purely a visual improvement.
AceJump in emacs has a subtle and beautiful effect where the background loses colors and only the search key is in color. Would be nice if it was possible.

The effect can be seen in this video:
[http://www.youtube.com/watch?v=UZkpmegySnc&t=0m54s](http://www.youtube.com/watch?v=UZkpmegySnc&t=0m54s)

[2017-06-14 16:13] lucax88x commented on #15
@itainoam I'm afraid the API of vscode does not permit to programmatically

we will track this Microsoft issue https://github.com/Microsoft/vscode/issues/20997 in the hope they will implement this

[2017-08-04 13:10] ravigadila opened #16 "Not working when installed along with vscode-emacs-friendly"
VS Code Insider 1.15

[2017-08-04 13:43] lucax88x commented on #16
duplicate of #11  and unresolvable...

[2017-08-07 13:47] #16 closed

[2017-08-13 13:26] wd opened #17 "Can't define keybindings, get error: command with id already exists"
I've tried to define my keybinding,
[code]

No matter what keys I use, always get error: command with id already exists, and the binding not work, don't know what to do ...

[2017-08-13 13:49] lucax88x commented on #17
Weird,  I'll have a look when I am back from the sea!

[2017-08-16 04:28] lucax88x commented on #17
Can you give me the extensions you have installed? I'm afraid you have the same problem of #11

[2017-08-16 10:40] wd commented on #17
Yes, maybe the same problem. I'm using "Emacs Keymap" 0.1.1 to remap my keys.

[2017-08-24 11:37] DavidBabel opened #18 ""AceJump: Jump To" message always in status bar"
This extension is quite perfect, except for the always shown message in tool bar "AceJump: Jump To", even when i don't use the plugin :

![image](https://user-images.githubusercontent.com/5599375/29664767-60d966e4-88d1-11e7-8e1d-fdb0ace13fa5.png)

[2017-08-24 11:49] lucax88x commented on #18
Yeah I noticed that too, need to fix asap. Thx!

[2018-03-10 08:36] seriiserii825 opened #19 "how to install?"
how to install the plugin?

[2018-03-10 09:07] lucax88x commented on #19
Are you using visual studio code?

[2018-03-10 09:59] seriiserii825 commented on #19
Yes, and i find jumpy

[2018-03-10 10:20] lucax88x commented on #19
you can just install code ace jumper by searching it in the extensions, and then configure the key binding

[2018-03-10 11:00] seriiserii825 commented on #19
thanks, it works!!!!

2018-03-10 12:20 GMT+02:00 Luca Trazzi <notifications@github.com>:

--
*С уважением Бурдужа Сергей. *

[2018-03-10 11:02] seriiserii825 commented on #19
but it not work with empty lines))

2018-03-10 12:59 GMT+02:00 Burduja Serghei <seriiburduja@gmail.com>:

--
*С уважением Бурдужа Сергей. *

[2018-04-03 10:44] lucax88x commented on #18
sorry for lateness @DavidBabel .. now version 1.1.7 should be deployed with the fix!

[2018-04-13 05:43] alexeygrant opened #21 "Feature request: allow to search for two-character sequences"
I think it would be great to to be able to search for two-character sequence as it greatly reduces number of clues to jump to, and in most of the cases eliminate two-characters clues.

[2018-04-13 10:49] lucax88x commented on #21
I'll have to create a specific command for that, I cannot use the original one, agree?

[2018-05-14 09:57] DavidBabel opened #22 "Any issue on last vscode release ?"
I cannot make it working anymore on last VScode April 2018 1.23

Is there anything to change ?

[2018-05-14 20:25] lucax88x commented on #22
I just tried with my vscode like every day and everything is working pretty fine.

Did you install any other extensions like the emacs one?

[2018-05-14 22:44] #19 closed

[2018-05-14 22:44] #18 closed

[2018-05-17 14:25] lucax88x commented on #22
@DavidBabel  any news?

[2018-05-18 11:48] DavidBabel commented on #22
Sorry, i need to test it again next week. Havn't my computer with me for days.

[2018-07-26 09:46] matklad opened #23 "Ace jump labels should not move surrounding text"
Hi!

Currently, AceJump's labels affect the rendering of surrounding text:

![image](https://user-images.githubusercontent.com/1711539/43255169-c6c5456e-90d1-11e8-9ae6-78a5d0b9777e.png)

Here, both lines should have the same length, height and baseline, but the top one is distorted because of the label.

[2018-07-27 09:16] lucax88x commented on #23
Ehi, thanks for reporting this.

I'll try to have a look at this, but I'm pretty much afraid there's not much we can do on this.. :(

[2018-07-27 10:04] lucax88x commented on #23
Right now, the yellow thing will always move the TEXT on the right, but it shouldn't corrupt the height of the row, did you try to adjust the height of the placeholders? It's configurable

[2018-07-27 10:32] matklad commented on #23
It does move the baseline I think:

![image](https://user-images.githubusercontent.com/1711539/43316198-22cf0d2a-91a1-11e8-81f9-d044fd56cc96.png)

![image](https://user-images.githubusercontent.com/1711539/43316224-49797a82-91a1-11e8-8c41-c1a0082f2ce2.png)

But yeah, I have a non-default height, if I make it smaller the vertical position is preserved.

[2018-07-27 10:37] matklad commented on #23
But yep, I totally get why it might be a won't fix, the VS Code API is pretty limited :(

I wonder if it is possible to abuse `textDecoration` property of https://code.visualstudio.com/docs/extensionAPI/vscode-api#DecorationRenderOptions to inject a styled marker with letter via CSS...

[2018-07-27 11:12] lucax88x commented on #23
originally it was a marked letter by css, but it caused severe performance bottlenecks.

now it's a svg image with an height & width, maybe is there any possibility to make it floating in the editor and then you have to absolute position it.. maybe..

I asked some help here.. let's see..

https://stackoverflow.com/questions/51555405/vscode-setdecorations-changes-the-oustide-text-rendering

[2018-07-27 11:18] matklad commented on #23
Might be a good idea to check how this extension solves the problem: https://marketplace.visualstudio.com/items?itemName=wmaurer.vscode-jumpy

[2018-07-27 11:20] lucax88x commented on #23
Oh, this is the extension where I took some inspiration, I didn't notice this... I'm gonna check, thanks mate! ;)

[2018-07-31 09:03] lucax88x commented on #23
@matklad  I just tried jumpy, despite the gif, it's actually moving the characters like the mine does, did you try it?

[2018-07-31 09:11] matklad commented on #23
@lucax88x I've actually switched to meta-go extension, it doesn't move characters:

![image](https://user-images.githubusercontent.com/1711539/43450204-dd954cc0-94ba-11e8-9e83-9b13b2dcc311.png)

[2018-07-31 09:33] lucax88x commented on #23
@matklad  just fixed it ;) releasing in minutes.

[2018-07-31 09:45] lucax88x commented on #23
Released 1.1.8

[2018-10-19 15:36] ColCh opened #24 "Error in recent VSCode version"
`AceJump: Error: command 'extension.aceJump.input.stop' aready exists`

It seems that it comes from this line

https://github.com/lucax88x/CodeAceJumper/blob/18a785fc7ecf8a5df0926508d64e18163f805b55/src/inline-input.ts#L26

[2018-10-19 19:55] #23 closed

[2018-10-20 13:26] lucax88x commented on #24
That's weird, never seen this one, did you try to reinstall this?

[2018-10-20 13:27] ColCh commented on #24
Yup, same result

[2018-10-20 13:50] lucax88x commented on #24
Hm, can you print me out your list of exstensions? Maybe someone that copied my code? Anyway I'm gonna add some check in that line of code

[2018-10-21 06:59] ColCh commented on #24
Yeah, sure

That's pretty long list

here it is:

<details>
<pre>
MariusAlchimavicius.json-to-ts
TeddyDD.fish
aaron-bond.better-comments
aaronduino.paste-fixer
abierbaum.vscode-file-peek
abusaidm.html-snippets
adammaras.overtype
airstep.yandex-translate
albymor.increment-selection
alefragnani.Bookmarks
alefragnani.project-manager
alexdima.vscode-lcov
aliariff.auto-add-brackets
alqiu.ts-loader-prob

[2018-10-21 07:26] ColCh commented on #24
Other error is `AceJump: Error: command 'type' aready exists`

registers here

https://github.com/lucax88x/CodeAceJumper/blob/18a785fc7ecf8a5df0926508d64e18163f805b55/src/inline-input.ts#L47

debugged a bit

stacktrace

<details>
<summary>logs</summary>
<pre>
Error: command 'type' already exists
	at e.registerCommand (/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/nod

[2018-10-21 07:51] ColCh commented on #24
Related to https://github.com/Microsoft/vscode/issues/13441

[2018-10-21 07:56] ColCh commented on #24
Actually, this issue comes from `Overtype` extension

I've created issue for that extension https://github.com/AdamMaras/vscode-overtype/issues/12

Nothing to do with CodeAceJumper in this case, so feel free to close this issue if you want to

[2018-10-21 14:57] lucax88x commented on #24
Yeah, the problem regarding "type" command is still unsolved since ages, extensions like the emacs, vim emulator and this one cannot coexist because of that.

More than registering this command only when requesting I cannot do, unfortunately :(

What about the "input.stop" problem? you still have it?

[2018-10-21 20:37] ColCh commented on #24
yup and it seems that it should be fixed in `overtype` extension

no, my friend, it's gone with `overtype` uninstall

[2018-10-22 07:49] #24 closed

[2018-10-23 15:42] #5 closed

[2018-11-06 02:01] thesimonho commented on #11
this seems to also be a problem with vim installed but disabled. any reason why vim still takes over the keybinding even if it is disabled?

[2018-11-06 09:10] lucax88x commented on #11
This is weird, did you reload vscode after disabling the vim extensions? Or maybe you have another extensions using this keybinding?

[2018-11-06 09:17] thesimonho commented on #11
ah seems to work now. I probably just didnt reload/restart code after trying the last time

[2019-01-05 21:51] matklad commented on #11
@lucax88x see
https://github.com/metaseed/metaGo/blob/0422537c5750c50283e0950d986c89221d076291/src/metajumper/inline-input.ts#L36 for a nice workaround!

[2019-01-07 08:51] lucax88x commented on #11
Great, Thanks @matklad !

[2019-01-07 09:42] lucax88x commented on #11
@jakub-wojciech @matklad @sho-87

hooray!
released 1.1.10 with the 'workaround', thanks to @matklad

[2019-01-07 09:42] #11 closed

[2019-02-02 16:42] VisionaryAppDev commented on #21
I am thinking of helping this feature but take hours to read the code and only understand some of them lol. So, I think I could not help at all and I think if you could add more features to it like **avy-goto-char-timer** or **avy-goto-line** which abo-abo/avy has then it would be great!

[2019-02-04 09:30] lucax88x commented on #21
@VisionaryAppDev  100% agree with you, code is a mess, that project started 3 years ago like a game, never expected it to be so used.

[2019-02-04 09:31] lucax88x commented on #21
Want me to add 1 new commands for this, and refactoring in a way so you can add the other one?

[2019-02-07 01:40] VisionaryAppDev commented on #21
Yes, I think so. Refactoring and add some comments to explain it so another can help extend this project when they need and I will to if I could.  Specifically, *placeholder-calculus.ts* file is the hardest I guess because I am not if it has something to do with calculus.

[2019-02-18 23:38] Streppel commented on #21
Hey, came here specially to search for a thread like this. I suspect you could use the same shortcut as well, just keep concatenation going until it hits an escape character - at least that's how ace jump behaves on IntelliJ idea.

Edit: uploaded a better gif
![mygif](https://user-images.githubusercontent.com/2300328/53043799-17ad7e80-3468-11e9-993e-9d425a9801e8.gif)

[2019-02-18 23:42] Streppel commented on #21
@lucax88x are you doing a refactor at the moment?

[2019-02-19 09:04] lucax88x commented on #21
@Streppel Yes, I'm starting the refactor these days. Just don't have that much time but I'll find some.

I like the idea of the gif above, I'll try to think about it, but for beginning I think that we will just restrict placeholders when we type the 2nd (and so on) character until we press the escape character like you said.

[2019-02-27 09:59] lucax88x commented on #21
Current status for who is interested:

- [DONE] introduced tslint, prettier and much more strict tsconfig & adapted code
- [DONE] added tests to cover all possible cases
- [TODO] starting the refactor & documentation

[2019-03-13 13:49] lucax88x commented on #21
The feature is almost completed:

this is how it works:

1) there's a new command, so the original one is preserved (with single letter)
2) when you start this new command, you have to type your first char, then the yellow placeholder appears for every start letter matching the char
3) you can start write characters, and the next letters will be highlighted with the green (like the gif), but
- if

[2019-03-13 13:49] lucax88x commented on #21
Ah, and I'll make a gif asap in order to make it more clear

[2019-03-13 16:23] Streppel commented on #21
@lucax88x Thank you for the heads up! Great! Personally, I believe that 5 chars should be more than enough, however I'm rather curious to see the reason why adding an unlimited amount of characters would be a problem...

Anyway, I'm happy with this flow (though personally I have to admit I'll replace the single character command with this new one - disabling the single character completely. But th

[2019-03-13 17:40] lucax88x commented on #21
Yeah, the reason is that, for now, creating the highlight is done the same way as placeholders are created, meaning that we create SVG and use them as decorator, this is not ideal and I need to find a better solution, I would just want to 'highlight' a character..

[2019-03-13 17:55] Streppel commented on #21
@lucax88x I see. Maybe we'll need to work on that... One good repository to take a look at is the [IntelliJ plugin page](https://github.com/acejump/AceJump). I'll check your implementation after you merge your changes, and maybe we can think of something together.

One interesting note: this repo is not listed in the similar software section! I'll add it :+1:  from this thread I can see that we ha

[2019-03-14 08:34] lucax88x commented on #21
Yeah its the only part I am not so happy about.

Yep you can add it! but what do you mean?

[2019-03-14 14:36] Streppel commented on #21
@lucax88x sorry, what do I mean by what?

[2019-03-14 15:08] lucax88x commented on #21
:D sorry.

I meant by adding it so "similar software section"

[2019-03-14 15:57] Streppel commented on #21
@lucax88x take a look at the Acejump’s readme file. I’ve added a link to your repo there

[2019-03-14 16:00] lucax88x commented on #21
got it! thx!

[2019-03-19 00:12] Streppel commented on #21
@lucax88x just out of curiosity, when do you plan on merging the changes? (this may sound pretentious but I'm really just curious)

[2019-03-20 06:22] lucax88x commented on #21
@Streppel  Yeah sorry, I'm always pretty busy and working on it only on free time. I'll correct a couple of tests this morning and then push what I have.

[2019-03-20 07:21] lucax88x commented on #21
@Streppel pushed, you can give a try, the command is extension.aceJump.multiChar

I'm just starting add tests on this feature right now, then will try to improve the highlight thing

[2019-03-20 12:47] Streppel commented on #21
@lucax88x cool! thanks! I'll take a look into it later, will let you know if I find any bugs or anything

[2019-03-21 12:21] lucax88x commented on #21
@Streppel  lemme know, I am pretty curious!

[2019-03-25 21:41] Streppel commented on #21
@lucax88x looks pretty consistent so far! Congratulations!

I believe the right thing to do now is to mark this issue as done and take future development further with different issues whenever they're needed.

[2019-03-26 09:51] lucax88x commented on #21
Ok, if I find some time tomorrow Ill polish and publish this as 2.0.0

[2019-03-26 14:47] matklad opened #26 "When two chars are required for the jump, show them both"
Hi! If there are many matches, user needs to type two chars to get to the match.

In the current UI, two char seqs break the flow, because there's no indication that two chars are required. That is, I see a char, I type it, and I expect to be at the target location, but instead the second target char is shown. The fact this happens rarely also contributes to distraction.

I believe emacs uses the

[2019-03-26 22:47] SYNTAG opened #27 "Ace Jumper Activated"
When you activate Ace Jumper, would be nice to have a more visual activated state (as someone who likes to have their status bar visibility off).

I played around with the idea of adding a decorator to overlay the entire VS Code window and adding the following styles:
[code]

The code above will overlay the window and add a black-and-white effect to it. Would also be nice if the opacity of the bla

[2019-03-27 12:33] lucax88x commented on #27
Believe it or now I was trying the same yesterday evening, trying to add a decorator for that.

Asap I deployed the new 2.0.0 I will think about this.

[2019-03-27 12:34] lucax88x commented on #26
Nice idea, what you want is to just "pre-show" the 2nd character in the case it's grouped?

Will be studied later.

[2019-03-27 12:35] lucax88x commented on #15
Will be mitigated by #27

[2019-03-27 12:35] #15 closed

[2019-03-27 13:04] matklad commented on #26
Yep. Though, there might be some other UI tricks to make 1 char vs 2 chars clearer. For example, we can always show only the frist/single char, but draw it in a different color if there's a second one required.

[2019-03-27 13:18] lucax88x commented on #26
Yep like the final gif

[2019-03-27 16:11] lucax88x commented on #21
Released 2.0.0

[2019-03-27 16:11] #21 closed

[2019-03-27 16:22] lucax88x commented on #27
@SYNTAG how do you add a overlay with that style? you have a snippet?

[2019-03-27 18:47] syntag commented on #27
That's excellent news!

I don't have a snippet, but I did test the CSS code above on one of your existing decorators and it worked.

[2019-03-28 08:59] lucax88x commented on #27
Did you put that in the code or using the devtools?

[2019-03-28 22:38] syntag commented on #27
I did it in DevTools, here's a CodePen I made to give you a visual. I think you'll need to use `position: fixed;` for the actual decorator instead of `position: absolute;` as I did on the CodePen.

https://codepen.io/SYNTAG/pen/XGvapB

Another alternative would be to add a glow effect like this:
https://codepen.io/SYNTAG/pen/YgmEpj

And finally, maybe a cleaner option would be to add a styled deco

[2019-03-30 19:30] sygutss opened #28 "MultiCharacter search doesn't work"
Hi, guys ;) firstly I would like to really thank you for your job.
Unfortunately, the new feature multi-character search doesn't work correctly.

Example:
In the attached movie in the zip, I would like to go to the "sentence" word in the second sentence.
[Screen Recording 2019-03-30 at 20.26.05.zip](https://github.com/lucax88x/CodeAceJumper/files/3025874/Screen.Recording.2019-03-30.at.20.26.05.zip

[2019-04-01 08:04] lucax88x commented on #28
Thanks and appreciated your feedback! Weird, did you escape with esc button before pressing F?

[2019-04-01 08:09] lucax88x commented on #27
Yeah, but we cannot add custom styles to decorators :( that's the problem.

[2019-04-01 13:57] sygutss commented on #28
Yep... that's my problem I didn't escape with esc button before.
I'm similar with the Ace jump for Pycharm and there you don't have to do it before.
Sorry for my misunderstanding. You can close the ticket.

Suggestion:
You should change the approach with escaping by esc before choosing a letter, it's a little bit uncomfortable. Will be nice if it will work like in jet brains stuff.

Anyway
Great j

[2019-04-01 14:01] lucax88x commented on #28
I am actually open to suggestions, how it should work in your opinion?

- if the pressed char matches the next letter in the editor, it restrict it and shows new placeholders
- if the pressed char does not match a letter but matches a placeholder it should jump to it, without escaping

the second option would be the new feature I could implement.

[2019-04-01 14:52] sygutss commented on #28
Yes for pycharm from jet brains  it works like you described above :) without escaping char, so I will be waiting for the next release :D which will contain this new feature :)

And we can close this one because now I'm know that's not a bug :)

[2019-04-01 14:55] lucax88x commented on #28
Yeah, working on it this evening, shouldnt be hard.

[2019-04-01 19:35] lucax88x commented on #28
@sygutss  Released 2.0.1, let me know if it works as expected.

[2019-04-01 20:05] sygutss commented on #28
Man, it works awesome :) like in Pycharm :D
With one small difference. if only one match left
they should show only one possibility to jump instead of jumping automatically
I attached examples of the plugin from Pycharm and vs code ;)
[pycharm_example.zip](https://github.com/lucax88x/CodeAceJumper/files/3031133/pycharm_example.zip)
[vs_code_example.zip](https://github.com/lucax88x/CodeAceJumper/fi

[2019-04-02 06:27] lucax88x commented on #28
You are welcome.

Well, aren't you now asking to make it behave like it was before?

In the vscode you are typing S, E, and then C which is not only the 3rd letter of a word but also a placeholder and also the only match, why you would want to restrict it more?

Isn't pycharm instead of jumping just restricting for nothing and wasting your time?

Btw, regarding the window, I don't have it, so I gu

[2019-04-02 06:29] lucax88x commented on #27
@SYNTAG luckly I found an another way to dim the editor, I'll tune, make it configurable and release it for 2.1.0

[2019-04-02 07:37] sygutss commented on #28
Isn't pycharm instead of jumping just restricting for nothing and wasting your time?

No its not because if you start very fast typing to search something, now you get imidietly jump to the place and type something from search string before the word, then you have to delete this and continue work. In pycharm we don't have this type of situation because jump is always doing by you and you know when

[2019-04-02 07:55] sygutss commented on #28
In the case of the top window, it's probably caused by the fact that I work on MacBook. As far as I know, this window doesn't show on Windows operating system.

[2019-04-02 09:10] lucax88x commented on #28
based on what you said, the first gif you posted on this issue was fine then?

[2019-04-02 09:59] sygutss commented on #28
Hmm probably yes, it hard to say for me.
In the previous approach, we should escape by esc key before choosing the place.
In pycharm we don't have to do it :)

Anyway, great job man.
For me, even this approach is quite well 👍

[2019-04-02 10:03] lucax88x commented on #27
released dim in 2.1.0

[2019-04-02 10:03] #27 closed

[2019-04-02 10:04] lucax88x commented on #28
But the first gif is now behaving like pycharm, because you don't have to press ESC anymore.

[2019-04-02 13:08] tiansin opened #29 "Cannot restore color by pressing ESC"
@lucax88x When I activate the jump, press ESC to cancel the highlight and it is not restored.

[2019-04-02 13:17] lucax88x commented on #29
Urgh, fixing it now. you can disable the dim in the meantime.

[2019-04-02 13:22] lucax88x commented on #29
@tiansin Released 2.1.2, should be available in less than 30 mins.

[2019-04-02 13:22] #29 closed

[2019-04-02 15:38] matklad opened #30 "Apply dim only after the head character is typed"
Just tried out the new dim feature, it's super cool!

However, it works a bit differently from Emacs: CodeAceJumper applies dimming immediately after you invoke it (at least, with on-type handler work-around enabled), white Emacs waits until the search character is typed.

I think Emacs behavior is slightly better here: until you've typed the search char, you are interested in the original buffer

[2019-04-02 19:35] syntag commented on #27
@lucax88x Glad you found a way! Played around with the update and I love it. Good job.

[2019-04-03 07:39] lucax88x commented on #30
I agree with you, gonna do it today.

[2019-04-03 08:03] lucax88x commented on #30
Released 2.1.3

[2019-04-03 08:03] #30 closed

[2019-04-04 07:37] matklad commented on #30
tired this out, works *perfectly*, thanks!

[2019-04-05 11:31] lucax88x commented on #21
@Streppel in the 2.1.4 there's a new way to render the highlights using background-color instead of svgs, therefore its much more precise and theres no limitation of 10

[2019-04-05 23:36] Streppel commented on #21
@lucax88x this is beautiful :) I'll check it out!

[2019-04-21 17:00] matklad opened #31 "When jumping in selection mode, place cursor such that the jumped to character is selected"
Currently if I use ace jump with selection to select *forward*, the last char is not selected.

For example, if I want to select `{ this block}`, and the cursor is on `{`, acejumping to `}` selects only `{ this block`. I think for forward selection it makes sense to jump *after*  the `}`.

[2019-04-27 21:23] shelper opened #32 "jump to multichar some times dost not work"
have no idea why is that but for some mutichar bindings for some particular txt files, the extension fails to behavior as expected, for example this file, if you open it in vscode using 2.1.4 acejump, i cannot use multichar to jump to "re", "se", to name a few

[example file fail to jump to ](https://github.com/Lectem/cpp-boilerplate/blob/master/CMakeLists.txt)

[2019-05-02 08:26] lucax88x commented on #32
can you post a webm / gif ? or tell me which word is not working? It's working fine for me

[2019-05-02 08:27] lucax88x commented on #31
I will be honest, I tried to read this issue three times, but haven't figured it out yet.

Why it should jump forward?

[2019-05-02 08:37] matklad commented on #31
I am actually not sure this is a good idea anymore myself.

The problem I see is that the semantics of "jump with selection" is different depending on whether you jump forward or backward.

If you jump *forward* to char `x`, the `x` *is not* selected.
If you jump *backward* to char `x`, the `x` *is* selected.

If you want to have precise selections after jump, it would be better if it worked the s

[2019-05-02 08:37] #31 closed

[2019-06-23 19:36] ZYinMD opened #33 "When set to "only initial letter", first word of each line is ignored in tab indented code"
If my code uses tabs instead of spaces for indentation, and I turn on "only initial letter", the first word of each line won't be targeted.

[2019-06-24 13:10] #32 closed

[2019-06-24 13:10] lucax88x commented on #33
Thanks, I'll check asap!

[2019-07-04 23:59] ZYinMD commented on #33
I did an easy fix by adding `\t` in the regex pattern. I'm not very good at regex, is there any caveat?

[2019-08-04 12:20] andsmi97 opened #34 "Jumping to "]" sign doesn't work"
I'm getting "No matches" message every time.

VSCode 1.36.1
Extension 2.1.5

[2019-08-05 08:02] lucax88x commented on #34
I just tried and it's working fine, can you give me some more details?

[2019-08-05 08:04] lucax88x commented on #33
Sorry @ZYinMD I really had some troubles this time, I'm moving to new house.. did fixing the regex like you said fixed your issue??

[2019-08-06 04:36] ZYinMD commented on #33
Yes, it did fix my issue. I changed the regex to `[ ,-.{_("'<\[\t]`.

After the change, it's been working well for me so far, didn't find unexpected effects.

[2019-08-06 15:32] andsmi97 commented on #34
I don't really know what can be useful so I'll give as much info as i can. So my enviroment is this:

Keybindings:
[code]

Settings

[code]

List of extensions:
Code Ace Jumper
Debugger for Chrome
Docker
GitLens
Prettier
Remote Development
Styled-Components

2 Keyboard layouts: English(qwerty) and Russian. I checked on English

Let me know if I can send something else

[2019-08-06 17:25] lucax88x commented on #34
It's the only character that is not working? is jumping to [ working? normal letters?

[2019-08-06 17:26] lucax88x commented on #33
great, thanks! I'll document this in the readme!

[2019-08-06 18:54] andsmi97 commented on #34
I just checked, I got "Cancelled" message on "\\"(edited, it's backslash) sign sign and strange behavior on "^" sign which highlight every letter on screen. Rest works fine, including "[" sign

[2019-08-07 01:40] ZYinMD commented on #33
Maybe change the default regex too? In a way that doesn't affect existing users.

[2019-08-12 15:26] lucax88x commented on #33
Yeah, I'll do that.

[2019-08-12 16:40] lucax88x commented on #33
Released.

[2019-08-12 16:40] #33 closed

[2019-09-25 16:51] Nxt3 commented on #26
You could look to this source for how to implement this: https://github.com/wmaurer/vscode-jumpy

It hasn't been updated in a while and yours is more current.

[2019-09-25 16:52] Nxt3 commented on #13
You could look to this source for how to implement this: https://github.com/wmaurer/vscode-jumpy

It hasn't been updated in a while and yours is more current.

[2019-09-27 13:50] lucax88x commented on #13
closing this in favor of #26

[2019-09-27 13:50] #13 closed

[2019-09-27 13:51] lucax88x commented on #26
I promise I'll have a look at this feature in the next weeks, now I'm pretty busy :(

[2019-11-05 08:30] ColCh commented on #34
Not works for me for this example

[code]

try to jump on `]`

any other info? how to debug - are there any logs in extension?

[2019-11-09 17:05] BovineEnthusiast opened #107 "Doesn't work with October update"
Looks like the latest vscode update broke the text overlay. When I try to jump to `s` this is what I see:

![Screen Shot 2019-11-09 at 9 04 38 AM](https://user-images.githubusercontent.com/8148243/68532265-13fca900-02d0-11ea-8ae1-df4feaf4428a.png)

[2019-11-09 18:14] lucax88x commented on #107
Ouch, damn. I'll take a look on monday.

[2019-11-09 19:50] lucax88x commented on #107
I just updated vscode, I have version 1.40 and the extension is still working fine for me. which version do you have?

[2019-11-09 21:58] BovineEnthusiast commented on #107
VSCode 1.40.0
AceJumper: 2.1.6

Hmm... I haven't changed anything else recently 🤔 I tried reinstalling the extension and still have the issue. Might be a local thing. I'll comment again when I get a chance to restart my computer in case that fixes it.

[2019-11-10 08:38] lucax88x commented on #107
Can you try disabling other extensions? I have suspects on the theme..

[2019-11-10 09:17] icher opened #108 "Selection mode doesn't select last character"
Hi, it's already mentioned here #31 , but I guess you don't figured out what exactly OP wanted.

There's a gif:

![Peek 2019-11-10 15-02](https://user-images.githubusercontent.com/8604717/68541585-80100780-03cb-11ea-8251-2ebb8fc2194f.gif)

I'm triggered ace jump selection mode then type "," to select all characters including ",". But "," doesn't selected. Actually it's not about "," it's any chara

[2019-11-10 09:32] lucax88x commented on #108
Well, I understood! Will fix tomorrow. Thanks!

[2019-11-10 17:43] BovineEnthusiast commented on #107
Disabling all extensions (including themes): No
Restarting computer: No

HOWEVER, I reset all the extension settings and that fixed it. The weird thing is that I haven't touched those settings in forever. Looks like changing the `Placeholder:Background Color` to an invalid property will replicate the screenshot above. I should have taken a screenshot before resetting all the settings.

Anyways, th

[2019-11-10 17:43] #107 closed

[2019-11-12 17:15] lucax88x commented on #108
Released with 2.1.7

[2019-11-12 17:15] #108 closed

[2019-11-13 04:41] icher opened #110 "Backward selection mode doesn't select first character"
Hi, thanks for #108 -- works great, but here's another similar problem:

![Peek 2019-11-13 10-30](https://user-images.githubusercontent.com/8604717/68733468-f8134300-0600-11ea-94fc-6a6d3ee7aef7.gif)

When you're using selection mode backward, first character (place where you're jumped, " in my gif) doesn't selected.

[2019-11-14 12:08] lucax88x commented on #110
I'll try to fix today / tomorrow.

[2020-01-21 14:02] pe224 opened #150 "Selection of jump points for Python code"
Thanks for this cool extension.
Given the following sample Python code
[code]
when trying to jump to a closing bracket `)` I can only do so where there are no function arguments:

![image](https://user-images.githubusercontent.com/8567333/72810152-483ffe80-3c5d-11ea-9d20-33356b0b98b9.png)

Jumping to the colon `:` is not possible at all.

Is this by design, i.e. by definition of a "word"?

[2020-01-21 16:52] pe224 commented on #150
I noticed that this can be fixed by setting
`"aceJump.finder.pattern": "[ ,-.{}_()\"'<>\\[\t]"`
in the config.
Note, I added the closing characters `}` `)` `>` to the original regex.
Does this have any unintentional side effects?

Unfortunately, adding `\\]` in a similar way does not resolve #34.

[2020-01-21 17:03] lucax88x commented on #150
Nah, I don't think there's any unintentional side effects, It's open to the user to define it's character where he wants to ace jump, the original pattern is what was good for me, but in the time I extended it for my other own use cases.

So it's the issue fixed by changing the pattern?

[2020-01-21 17:05] lucax88x commented on #34
@ColCh Sorry, I totally missed your comment :/

I'll do some tests during the week, you can debug by forking the repo and just pressing F5 in vscode, AFAIK I'm not adding any log, for now.

[2020-01-21 17:18] pe224 commented on #150
Yes, I'll close it since the original question for `)` can be fixed that way.
It still leaves the mentioned issue regarding `]` open, but it seems you're already on it 👍 👍

[2020-01-21 17:18] #150 closed

[2020-01-21 17:28] pe224 opened #151 "[Enhancement] Refresh jump indices when visible region changes"
As an idea, would it be possible to update the jump indices when you change the visible region?

E.g. looking a the jump indices for `a`, after pressing `PageUp` or `PageDown` a couple of times, the jump indices would update to the `a`'s in the new region.

[2020-01-21 18:00] pe224 commented on #34
I noticed this as well when trying to resolve #150.
A sample code (in Python) would be
[code]
It is impossible to jump to the `]` after `a1`.
It *is* possible to jump to both `[`, though.
I tried a simple fix by adding `\\]` to the `finder.pattern`, but it didn't work - don't know why.

[2020-01-22 16:03] pe224 opened #153 "Make the extension globally available (without installing remotely)"
When using the remote development tools of VSCode (e.g. SSH, WSL or containers), some extensions can be used without the need to re-install on the remote system.

Unfortunately, CodeAceJumper is not (yet) one of them. When running remotely on e.g. WSL, I need to install it into the remote system to use it:
![image](https://user-images.githubusercontent.com/8567333/72910343-b3123800-3d38-11ea-8015-

[2020-01-22 16:15] lucax88x commented on #153
Thanks, I'll try to check in my free time ;)

[2020-01-22 16:16] lucax88x commented on #151
That's pretty good idea, I'll need to check if it's feasible..

[2020-01-22 17:33] pe224 commented on #153
It seems, adding the following lines to `settings.json` is already enough for it to be fully functional remotely without installation
[code]
In the extension's [package.json](https://github.com/lucax88x/CodeAceJumper/blob/master/package.json) this can be fixed by adding `"extensionKind": ["workspace", "ui"]`.

Putting it in this order (first `workspace`, then `ui`) should actually not change anyth

[2020-01-22 23:06] pe224 commented on #110
This is caused by the "fix" of d203104, resp. issue #108.

However, I would argue that it was correct behavior before this commit.
When you simply jump to a character, the cursor is always placed *before* that character.
I personally would expect the selection to end at the final cursor position, i.e.

* jumping forward, the selection ends *before* that character
* jumping backward, again the sele

[2020-01-23 06:57] #34 closed

[2020-01-23 06:58] #153 closed

[2020-01-24 13:47] Raikiri opened #159 "Is MultiChar broken?"
I have not used older versions of this extension, but right now when I enter MultiChar mode (via ctrl+shift+p) and then enter one symbol with multiple matches, it highlights them all and the status bar says "Next char". However, when I enter the next character, it exits the mode and the status bar says "Cancelled". Is it broken or am I doing something wrong?

[2020-01-24 15:35] lucax88x commented on #159
We released a bugfix this morning, so I thought we may have broken this, but the tests were running fine and I just tried and it works perfectly to me. Can you be more detailed? Screenshots / video or something like that.

[2020-01-24 15:45] lucax88x commented on #151
@pe224

Should be feasible, I found these events there.

onDidChangeTextEditorVisibleRanges
onDidChangeVisibleTextEditors
onDidChangeTextEditorSelection

Need to try these out.

btw, this morning I released the 2 PR you did, were you able to try them?

[2020-01-24 16:53] Raikiri commented on #159
I think the problem is maybe that I don't understand exactly what it's supposed to do. I expect it to work like this. In this text, say, I want to jump to the second "t" in word "test03":
![image](https://user-images.githubusercontent.com/1657728/73086337-592a9180-3f35-11ea-9da6-8f5291dffba4.png)
so I invoke MultiChar via ctrl+shift+p and hit "t":
![image](https://user-images.githubusercontent.com

[2020-01-24 17:57] lucax88x commented on #159
Regarding the first case, no. you need to write all the word, so you gotta write T E S T 0 3 if you want this one.

Anyway, your idea is good one... As writing T and then 03 would be a better way to reach Test03.

Regarding the second case, I think you hit a bug.

When there are more occurrences of the searched char than the alphabet, it tries to group the possible occurrences in order to try to m

[2020-01-24 17:58] lucax88x opened #160 "Multichar and Grouping do not work together"
discovered by #159

[2020-01-24 17:59] lucax88x opened #161 "Consider Multichar to accept any character of the found word instead of the immediately next one"
found by #159

[2020-01-24 17:59] lucax88x commented on #161
This will surely need a flag..

[2020-01-24 21:58] pe224 commented on #151
Yes, I got the recent version - pretty cool :sunglasses:
I'm currently trying to add another (hopefully useful) feature.
I'll write a quick issue adding some of the stuff I've tried.

[2020-01-24 22:18] pe224 opened #162 "[Enhancement] Add a "jump to beginning of line" command"
For an example, see the gif [here](https://github.com/wmaurer/vscode-jumpy).
This would be a command to show the placeholders at the beginning of each line to easily jump there, e.g. also to empty ones.
As a command, it can, of course, be hotkeyed directly (and separately from the other aceJump commands), but regarding UX it would be nice to also be able to have a hotkey for it when one has alread

[2020-01-25 01:13] Raikiri commented on #159
Problem is, as soon as I hit "E" in "test03" it cancels the search and does not jump anywhere.

I'm still confused what it's supposed to do. Like, how is the program supposed to distinguish if I'm hitting an anchor and want to jump to it or I'm continuing to enter a search query? What other programs do for example is they remove anchors that are also continuations of words so that there's no ambig

[2020-01-27 13:47] lucax88x commented on #159
this is the easiest use case https://webm.red/8mxZ for multi char. Does it work for you like that?

What it's missing, like you said, the possibilty to 'cancel' the search by a special symbol (space is perfect) and consider the next a jump anchor.

I'll add a task for that.

[2020-01-27 13:47] #160 closed

[2020-01-27 13:48] lucax88x commented on #159
in the meantime I fixed you problem regarding #160,  still not deployed

[2020-01-27 13:49] lucax88x commented on #151
What do you think about this?

https://webm.red/HF4I

[2020-01-27 13:52] lucax88x commented on #162
Would it really be useful? I m always jumping to a specific word more that a line..

[2020-01-27 15:25] Raikiri opened #164 "Replacing anchor placeholder with just a decoration"
As far as I understand, currently there's a whole placeholder svg image placed over the text with a symbol on it to show what the hotkey for jumping (anchor) is. This approach is very fiddly as it requires careful placeholder symbol placement, font size and position choice and sometimes readability suffers when zooming or when an entire symbol (for w, m, etc) does not fit into the placeholder. Eve

[2020-01-27 15:32] Raikiri commented on #159
Thanks for looking into it.

It does work for me like that for some strings: in example above it does work similarly with a string "est03". However, for other strings it just cancels as soon as I type the second character, for example if I try to type "test03" it cancels when I type "e".

[2020-01-27 16:06] lucax88x commented on #164
Yeah, keep in mind that multichar decoration came after 2 years since the first implementation, however when I implemented the decoration stuff I came to the same conclusions as yours, and I am pretty sure that something wasn't possible, like you can only decorate existing texts and you cannot add 'text' as decoration so that is not feasible..

[2020-01-28 00:29] Raikiri commented on #164
Well, this is how they implement it in some other similar extension (https://github.com/mbnuqw/jumpt) and it works perfectly fine.

[2020-01-28 09:02] lucax88x commented on #164
Ok, now I remember what the issue was.

![https://i.imgur.com/EzJZZnJ.png](https://i.imgur.com/EzJZZnJ.png)

Can you notice the issue with decorations? We cannot go ABOVE letters, it shifts everything.. :(

Can we go with that?

[2020-01-28 09:24] lucax88x commented on #164
MM, let me check, the example you linked is not having this issue..

[2020-01-28 09:34] lucax88x commented on #159
btw, regarding the 'cancel' it's already implemented. you can press ESC to stop the search and then you can jump..

when I got some time I'll try your test case..

[2020-01-28 11:14] Raikiri commented on #164
Yeah I think something's wrong with what you're doing because in that extension there's no fancy code happening here. just a decoration that replaces characters with other characters and formatting is perfectly fine.

There's just one problem that I'm aware of here: you can't replace chars that occupy more than 1 cell that way. As in, you can replace a tab character like this, but your formatting

[2020-02-17 20:07] lucax88x commented on #164
@Raikiri new release is coming soon

[2020-02-17 20:07] lucax88x opened #174 "option to scroll to middle when jumped"

[2020-02-18 13:02] lucax88x commented on #164
@Raikiri  Released in 3.0.0

[2020-02-18 13:02] #164 closed

[2020-02-18 13:02] lucax88x commented on #174
Released in 3.0.0

[2020-02-18 13:02] #174 closed

[2020-02-18 13:02] lucax88x commented on #151
@pe224  Released in 3.0.0

[2020-02-18 13:02] #151 closed

[2020-02-18 13:02] #159 closed

[2020-02-18 18:30] lucax88x commented on #162
@pe224 Implemented.

https://webm.red/view/oUCT.webm

What do you think?

[2020-02-18 18:35] lucax88x commented on #162
Released with 3.1.0

[2020-02-18 18:35] #162 closed

[2020-02-18 19:22] lucax88x commented on #26
@Nxt3 @matklad @csalv5

What do you think?

![Screenshot_2020-02-18_20-19-07](https://user-images.githubusercontent.com/6294464/74770266-310c2500-528c-11ea-8009-90e1f8bbd704.png)

Released with 3.2.0!

[2020-02-18 19:22] #26 closed

[2020-02-18 21:15] pe224 commented on #162
Very cool, thanks for your recent fix/feature explosion!

I have a question how to setup the "hotkey" idea in the feature description.
I would like to use `ctrl+k` to activate line jump mode, but only when I'm in aceJumpInput mode (to keep normal usage of `ctrl+k` otherwise).

For this, I tried to add the following keybinding
[code]

However, after going into jumpmode and pressing `ctrl+k`, the st

[2020-02-18 22:43] matklad commented on #26
*Perfect*, thanks a bunch!

[2020-02-25 09:14] lucax88x commented on #162
@pe224  Sorry, I'm always really busy at job :(

I'll check if it's doable (the possibility to switch to commands ASAP) but I don't have high hopes.

Regarding the inclusion of line-jumping included on existing jump logic, I'll think about this, and maybe make this optional.

[2020-02-25 14:13] pe224 commented on #162
@lucax88x
Don't worry. Please take your time, I appreciate it.
The reason for the ping was because I was not completely sure if you receive a notification for comments in already closed issues 😄

I wonder if you can catch hotkey combinations in your aceJumpInput or just single characters...

[2020-02-29 19:45] pe224 opened #188 "Document settings"
It would be helpful to have an overview over all possible settings in `README.md` as well as directly visible in `settings.json`.

Latter can be achieved via `package.json` -> `contributes.configuration.properties` where a field `"description"` can be addded for each entry which is then visible when editing the settings (in either UI or JSON mode).

[2020-02-29 19:49] #110 closed

[2020-02-29 19:51] lucax88x commented on #161
after some thoughts, this is already implemented..

[2020-02-29 19:51] #161 closed

[2020-03-09 20:01] pe224 opened #196 "[Bug] Only single-char placeholder displayed at line ending"
![image](https://user-images.githubusercontent.com/8567333/76252239-bd38b900-6248-11ea-9f1d-0831a273ba86.png)

When activating line jump mode with `"aceJump.finder.jumpToLineEndings": true` the placeholders at line endings only show a single character, although they actually consist of 2 characters.

See screenshot: the line endings of the first two lines should actually show `ab` and `ad`, but on

[2020-03-09 22:47] pe224 commented on #196
It also happens with the line beginnings on empty lines, with `"aceJump.finder.jumpToLineEndings": false`
The top two lines should be `aa` and `ab`

![image](https://user-images.githubusercontent.com/8567333/76263828-3f80a780-6260-11ea-9b74-97975a7ddd3b.png)

[2020-04-07 08:31] #196 closed

[2020-04-14 20:25] pe224 opened #228 "Wrong order of line-ending 2-char placeholder (ending in 'a')"
![codeacejumper-bug](https://user-images.githubusercontent.com/8567333/79269683-2392a600-7e9d-11ea-883c-3759e3bff190.png)

Red-marked 2-char placeholder `ab` should actually be `ba`.
The wrong order seems to happen only when following conditions are true:

- it's a 2-char placeholder (introduced in #201), so it only occurs on line endings or on empty lines
- the 2nd letter is an `a`, so for `ba`,

[2020-04-16 08:48] lucax88x commented on #228
Yeah, some edge case, it's probably happening also on ac? Anyway, as you worked on this part, can you create a fix for that?

[2020-04-19 14:20] pe224 commented on #228
That should (hopefully) be it 👍

[2020-04-20 12:24] #228 closed

[2020-04-26 10:23] lucax88x commented on #228
Released 3.3.2!

[2020-05-06 23:08] ZYinMD opened #243 "Explain settings in README"
Love the extension! Using it at least once per minute!

It'd be helpful to explain in README what these options mean:

Finder: Include End Char in Selection
Finder: Jump to Line Endings
Finder: Only Initial Letter
Finder: Skip Selection

[2020-05-06 23:16] ZYinMD opened #244 "Personal suggestion: Scroll set to none by default"
I noticed there's a new setting `Scroll: 'none' | 'center' | 'top'`, and the default setting is `center`.

I personally think "none" should be the default setting, because I think it's the most natural. When you do the jump, you always focus your eyes on your target. When you complete the jump, the cursor lands on the target, and that's it, very natural. One additional scroll makes your eyes loose

[2020-05-07 09:09] lucax88x commented on #243
Thanks you very much for your words! You can submit a PR if you wish! :)

[2020-05-07 09:09] lucax88x commented on #244
Yeah, I actually think the same.... I had the same feeling after I started using it, I'll make none default in the next days, thanks!

[2020-05-07 18:55] ZYinMD commented on #243
lol sorry I'm unable to make a PR because I actually have no idea what they mean...

[2020-07-29 10:35] matklad opened #280 "Consider marking all non-alphanum characters as work boundaries by default"
Over time, I've accmulated quite a log `aceJump.finder.pattern`:

https://github.com/matklad/config/commit/99ee39c9f988ccb7b200b7d6c89d30f1ac11a724

But it still ocasionally happens that I want to jump to a certain punctulation, and then realise that its' not yet on the list (today it's `;`). I think it should be safe to just treat **all** that is not a number/letter as a word boundary by default?

[2020-07-29 10:36] matklad commented on #280
Also, at this point I've been using this extension for several years, and it's one of my favorite things in VS Code <3

[2020-08-03 08:05] lucax88x commented on #280
Ehehe, thanks :D Always loved this extension.

I actually don't remember the reason why I didn't put all the non-alphanum, some years have passed.

I will need some more time, I'm actually not using VSCode anymore, and I need to reinstall it to test this stuff.

[2020-08-06 09:58] dependabot-preview[bot] opened #288 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/lucax88x/update-logs/42752382).

[2020-08-07 08:16] #288 closed

[2020-11-04 02:26] augustblizzard opened #333 "[feature request] please Add a "jump word" command"
![image](https://user-images.githubusercontent.com/11937856/98061932-fd0f7900-1e87-11eb-9c24-8d5cbb5b914d.png)
just like vim-easymotion

[2020-11-27 04:47] mmcnl opened #339 "[feature request] configurable jump target characters"
First, thank you so much for this great extension! It's making my transition from emacs happier.

One thing I was missing though from spacemacs is the ability to specify which characters are used as jump targets. That is, instead of simply `abcdef...` as it is now, I would love it if I could select a custom set of characters that are easier to type (starting on the home row), eg `fjdkdlsr...`.

[2020-11-27 13:44] lucax88x commented on #339
Thanks!

Can you define the full character set using the home row?

[2020-11-27 17:20] mmcnl commented on #339
My experience is with the Emacs plugin Avy, which uses a set of home row keys for the first character then starts using additional easy to type characters (as shown in screenshots here https://github.com/abo-abo/avy), so that, for example, you might jump to the first match with `a` and then a later match with `ka`.

[2020-12-12 09:20] liuhantang commented on #244
agree, default to 'center' gave me some surprise. For anyone who wants to set scroll mode to none, put this line in your vscode's `setting.json`
[code]

[2022-01-31 03:54] marblewraith opened #438 "[feature request] Smart Cursor Position"
There's a feature in the extension MetaJump which would be an improvement to the default cursor movement here.

https://github.com/metaseed/metaGo/blob/master/src/metaJump/README.md#metajump

This would help when trying to move to the end of a line the cursor isn't currently on.

[2022-01-31 07:37] lucax88x commented on #438
ciao @marblewraith

sorry but I've stopped using vscode at all so I'm not adding feature to this project anymore.

I'll be happy if someone wants to keep improving this one.

[2022-01-31 07:40] lucax88x opened #439 "[Maintainer"